@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700');

@font-face {
    font-family: 'Neue Aachen';
    src: url('webfonts/neue-aachen-std-medium.eot');
    src: url('webfonts/neue-aachen-std-medium.eot?#iefix') format('embedded-opentype'), url('webfonts/neue-aachen-std-medium.woff2') format('woff2'), url('webfonts/neue-aachen-std-medium.woff') format('woff'), url('webfonts/neue-aachen-std-medium.ttf') format('truetype');
}

*, *:before, *:after {
    box-sizing: border-box;
}

html {
    font-size: 18px;
    color: #222222;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    padding-left: 14rem;
    position: relative;

    background-color: #fafafa;
}

h1 {
    font-family: 'Neue Aachen', serif;
    font-size: 2.25rem;
    margin-bottom: 1rem;
}

h2 {
    font-family: 'Neue Aachen', serif;
    font-size: 1.75rem;
    margin-bottom: .6rem;
}

h3 {
    font-family: 'Neue Aachen', serif;
    margin-bottom: .5rem;
}

a {
    color: inherit;
}

p {
    line-height: 1.3;
}

p:not(:last-child) {
    margin-bottom: 1rem;
}

ul li {
    list-style: disc;
    margin-bottom: .7rem;
    line-height: 1.3;
    margin-left: 2rem;
}

nav {
    display: flex;
    flex-direction: column;
    position: fixed;
    left: 0;

    width: 14rem;
    height: 100vh;

    padding: 1rem 2rem;
    border-right: 2px solid #979797;
}

nav ul {
    text-align: center;
    padding: 2rem 0;
    margin-top: 1rem;

    border-top: 2px solid #979797;
    border-bottom: 2px solid #979797;
}

nav li {
    font-family: 'Neue Aachen', serif;
    font-size: 1.1rem;
    text-transform: capitalize;

    list-style: none;
    margin: 0;
    line-height: inherit;
}

nav li:not(:last-child) {
    margin-bottom: 2rem;
}

nav a {
    color: #222222;
    text-decoration: none;
}

nav h1 {
    font-variant: all-small-caps;
    font-size: 2rem;
    text-align: center;
}

.social {
    padding: 1rem;
    text-align: center;
}

.social a:not(:last-child) {
    padding-right: .5rem;
}

footer {
    font-size: .8rem;
    text-align: center;
    margin-top: auto;
}

footer p:not(:last-child) {
    margin-bottom: 0;
}

footer a {
    text-decoration: underline;
}

header p {
    text-align: center;
}

header, section {
    padding: 3rem;
    display: flex;
}

article:not(:last-child) {
    margin-right: 3rem;
}

section img {
    width: 100%;
}

article img:not(:last-child) {
    margin-bottom: 2rem;
}

dt {
    font-family: 'Neue Aachen', serif;
    margin-bottom: .2rem;
}

dd {
    margin-bottom: .8rem;
}

.highlight {
    background-color: #14AAA3;
    color: white;
}

.banner {
    padding: 1rem 3rem;
    font-weight: 700;
}

.external-link {
    position: relative;
}

.external-link:hover:after {
    content: '';

    position: absolute;
    right: -.9rem;
    top: .15rem;
    display: inline-block;
    height: .7rem;
    width: .7rem;

    background-image: url(images/new-tab.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.info article {
    flex: 1;
    margin-bottom: 0;
}

.info article + article {
    flex: 2;
}

.photos {
    padding: 0;
}

.photo {
    position: relative;
    flex: 1;
}

#map {
    width: 100%;
    height: 60%;
    margin-bottom: 1rem;
}

#about {
    padding-right: 0;
}

.stacked {
    flex-direction: column;
}

.stacked article:not(:last-child) {
    margin-right: 0;
    margin-bottom: 3rem;
}

#facebook {
    flex: 0 0 500px;
}

.showcase {
    display: flex;
    gap: 1rem;
}

.reference {
    flex: 1;

    display: flex;
    gap: 1rem;
}

.reference a, .reference p {
    flex: 1;
}

img.featured {
    margin-bottom: -3rem;
    margin-top: -3rem;
}

.description {
    position: absolute;
    bottom: 0;
    font-family: 'Neue Aachen', serif;
    padding: 1rem;
    width: 100%;
    background-color: rgba(255, 255, 255, .5);
    height: 4rem;
}

.call-out {
    padding: 5rem;
}

.call-out h2 {
    margin: 0 auto;
}

.call-out.primary {
    background-image: url("images/marble-background.jpg");
}

.call-out.macarons {
    background: url("images/macarons.jpg") center;
    background-size: cover;
    color: white;
    height: 25rem;
}

.call-out.highlight h2 {
    text-align: right;
    width: 100%;
}

.mobile-menu {
    display: none;
}

@media screen and (max-width: 1000px) and (min-width: 660px) {
    #facebook {
        flex: 0 0 250px;
    }

    .showcase:not(.horizontal) {
        flex-direction: column;
    }
}

@media screen and (max-width: 660px) {
    body {
        padding-left: 0;
        padding-bottom: 7.5rem;
    }

    nav {
        height: 6.5rem;
        width: 100vw;
        border-right: none;
        border-top: 2px solid #979797;
        bottom: 0;
        position: absolute;
    }

    .mobile-hidden {
        display: none;
    }

    .social {
        padding: 0;
    }

    nav h1, nav ul {
        display: none;
    }

    header, section {
        padding: 1.5rem;
        flex-direction: column;
    }

    article:not(:last-child) {
        margin-right: 0;
        margin-bottom: 1.5rem;
    }

    .photos {
        flex-direction: row;
        position: relative;
    }

    .showcase:not(.horizontal) {
        flex-direction: column;
    }

    .mobile-menu {
        position: absolute;
        height: 100%;
        width: 100%;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .mobile-menu a {
        display: block;
        padding: .5rem .9rem;
        border-radius: 7px;
        background-color: rgba(211, 25, 117, .8);

        color: white;
        font-family: 'Neue Aachen', serif;
        font-size: 1.75rem;
        text-decoration: none;
    }

    .mobile-menu a:not(:last-child) {
        margin-bottom: 1rem;
    }

    .description {
        display: none;
    }

    .call-out {
        padding: 2.5rem;
    }

    img.featured {
        margin: 0 -1.5rem -1.5rem;
        width: 100vw;
    }

    #about {
        padding-right: 1.5rem;
    }

    #map {
        height: 40%;
    }
}
